os:
  - linux

addons:
  chrome: stable

sudo: required

matrix:
  include:
    - language: 
      - go
      
      go:
        1.13.x
      
      notifications:
        gitter:
          on_success: always
          on_failure: always
        email: truemac

      before_script:
        - go get -u ./...
        # Installing nvm and nodejs
        - curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.35.3/install.sh | bash
        - source ~/.bashrc
        - nvm install 12
        - curl -sfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh| sh -s -- -b $(go env GOPATH)/bin v1.18.0
        - echo "checking linting in golang ..."
        - golangci-lint run
        - echo "perfect linting standards! moving ahead ..."
        - echo "checking go format ..."
        - diff -u <(echo -n) <(gofmt -d ./src ./tsdb)
        - echo "perfect go format. moving ahead ..."

      script:
        - make build
        - make test
        - xvfb-run -s "-screen 0 1920x1080x16" -a make test-services
        - make test_complete
        # test release-bot by creating a valid release
        - echo "testing release-bot by creating a valid release"
        - ./shell/release-bot.sh

    - language: node_js

      node_js:
        - "12"

      cache:
        directories:
          - node_modules

      notifications:
        gitter:
          on_success: always
          on_failure: always
        email: truemac

      before_script:
        - npm install --dev
        - npm install
        - npm install -g eslint electron electron-packager tslint prettier
        - cd tests/ && npm install chromedriver && cd ..

      script:
        - make test-views-v1.1
