os:
  - linux
  # - mac

addons:
  chrome: stable

sudo: required

language:
  - go
  - node

go:
  1.12.x

node_js:
  - '8'

cache:
  directories:
    - node_modules

notifications:
  gitter:
    on_success: always
    on_failure: always
  email: truemac

before_script:
  - go get -u ./...
  - curl -sfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh| sh -s -- -b $(go env GOPATH)/bin v1.18.0
  - echo "checking linting in golang ..."
  - golangci-lint run
  - echo "perfect linting standards! moving ahead ..."
  - echo "checking go format ..."
  - diff -u <(echo -n) <(gofmt -d ./src ./tsdb)
  - echo "perfect go format. moving ahead ..."
  - npm install -g npm@latest
  - npm install --dev
  - npm install
  - npm install -g eslint electron electron-packager tslint prettier

script:
  - make test-views
  - make build
  - make test
  - xvfb-run -s "-screen 0 1920x1080x16" -a make test-services
  - make test_complete
