.sidebar {
    padding-top: 2%;;
    position: absolute;
    left: 0%;
    width: 20%;
    line-height: 160%;
    padding-left: 2%;
    background-color: #f1f1f3;
    height: 100%;
    overflow-y: hidden;
    background-image: url('wall.png');
    background-position: bottom;
    background-repeat: no-repeat;
}

.sidebar-inner {
    display: inline-flex;
}

.sidebar-head {
    padding-left: 10%;
    font-weight: 500;
    color: black;
}

header {
    position: absolute;
    width: 104%;
    height: 50%;
    border-bottom: 1px solid #f1f1f3;
}

.logo-name {
    font-size: 20px;
    font-weight: 600;
    margin: 1% 0% 0% 2%;
    font-family: 'Open Sans';
    color: rgb(115, 115, 168);
}

.notification-icon {
    position: absolute;
    right: 1%;
    top: 4%;
    height: 30px;
}

.notification-screen {
    position: absolute;
    background-color: #f1f1f3;
    height: 100vh;
    transition: width 0.8s;
    width: 0%;
    right: -4%;
}