.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body {
  background-color: transparent;
  overflow-y: hidden;
  overflow-x: hidden;
}

.outer-wrapper {
  position: absolute;
  left: 22%;
  width: 75%;
}

.inner-component {
  margin-top: 7%;
  margin-left: 2%;
}