body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.App {
  display: flex;
  flex-direction: row;
}

.inner-component {
  display: flex;
  flex-direction: column;
  width: 100%;
}

body {
  background-color: transparent;
  overflow-y: hidden;
  overflow-x: hidden;
}

.outer-wrapper {
  position: absolute;
  left: 22%;
  width: 75%;
}

.inner-component {
  margin-left: 2%;
}
